.new-task__button{
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-color: var(--clr-text);
    background: var(--clr-background);
    text-align: start;
    align-items: center;
}

.new-task__button:hover{
    opacity: 0.6;
}
