.nav-bar__component {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--horizontal-nav-bar-spacing);
    background-color: var(--clr-background);
    padding: 0;
    margin: 0;

    position: relative;
    top: 0;
    right: 0;
    left: 0;
}

.nav-bar__item {
    font-family: var(--font-secondary);
    font-size: var(--fs-large);
    text-decoration: none;
    color: var(--clr-text);
}

.nav-bar__item:hover,
.nav-bar__item:focus-within {
    transform: scale(1.15);
}
