.nav-bar__component {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--horizontal-nav-bar-spacing);
    background-color: var(--clr-background);
    padding: var(--vertical-nav-bar-spacing) 0;
    margin: 0;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.nav-bar__item {
    text-decoration: none;
}

.nav-bar__item:hover{
    transform: scale(1.15);
}

.nav-bar__item:focus-within,
.nav-bar__item:focus-visible{
    text-decoration: underline;
}

.nav-bar__item:active{
    transform: scale(1.05);
    opacity: 0.7;
}

.nav-bar__item--img{
    width: 2rem;
    padding: 0;
    margin: 0;
}

.nav-bar__item--img:hover{
    transform: scale(1.15);
}

.nav-bar__item--img:active{
    transform: scale(1.05);
    opacity: 0.7;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
