.card-sprint__div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 1rem;
}

.card-sprint__title{
    margin: 0;
    padding: 0;
}

.card-sprint__select-button{
    padding: 0.2rem 1rem;
}


