.card-sprint__div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 0;

    border-color: var(--clr-text);
    border-style: solid;
    border-width: 1px;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

.card-sprint__title{
    margin: 0;
    padding: 0;
}

.card-sprint__select-button{
    padding: 0.2rem 1rem;
}


