.form-create-sprint__form{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 1rem;
}

.form-create-sprint__title-input{
    border: none;
    background: var(--clr-background);
}

.form-create-sprint__title-input:focus-visible{
    outline: none;
}

.form-create-sprint__button{
    padding: 0.2rem 1rem;
}

.form-create-sprint__button:disabled{
    cursor: not-allowed;
}
