.new-sprint__button{
    width: 100%;

    background: var(--clr-background);
    text-align: start;
    
    padding: 0.5rem 1rem;
}

.new-sprint__button:hover{
    background-color: var(--clr-button-hover);
    border: none;
}
