.new-task__button{
    width: 100%;

    background: var(--clr-background);
    text-align: start;

    border-width: 3px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-color: var(--clr-text);

    padding: 0.5rem 0;
}

.new-task__button:hover{
    opacity: 0.6;
}
