.new-task__button{
    width: 100%;

    background: var(--clr-background);
    text-align: start;

    padding: 0.5rem 1rem;
}

.new-task__button:hover{
    background-color: var(--clr-button-hover);
    border: none;
    transition: 100ms;
}
