.new-task__button{
    width: 100%;

    background: var(--clr-background);
    text-align: start;

    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-color: var(--clr-text);

    padding: 0.5rem 1rem;
}

.new-task__button:hover{
    background-color: var(--clr-button-hover);
    border: none;
    transition: 100ms;
}
