.form-create-task__form{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 0;
}

.form-create-task__title-input{
    border: none;
    background: var(--clr-background);

    padding-left: 3.5rem;
}

.form-create-task__title-input:focus-visible{
    outline: none;
}

.form-create-task__button{
    padding: 0.2rem 1rem;
}

.form-create-task__button:disabled{
    cursor: not-allowed;
}
