@import "bootstrap/dist/css/bootstrap.css";

:root {
    --clr-background: #f8f8ff;
    --clr-text: #030303;

    --clr-mustard: #ffd447;
    --clr-orange: #f85e00;
    --clr-turquoise: #3cdbd3;

    --font-primary: "Shrikhand", serif;
    --font-secondary: "Epilogue", sans-serif;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-bold: 800;

    --fs-small: 0.89rem;
    --fs-normal: 1.05rem;
    --fs-medium: 1.25rem;
    --fs-large: 1.6rem;

    --horizontal-nav-bar-spacing: 2.5rem;
    --vertical-nav-bar-spacing: 2rem;
}

/*RESET*/
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

/*UTILS*/

.light-mode {
    background-color: var(--clr-background);
}

.large-text{
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: var(--fs-large);
    color: var(--clr-text);
}

.medium-text{
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: var(--fs-medium);
    color: var(--clr-text);
}

.normal-text{
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: var(--fs-normal);
    color: var(--clr-text);
}

.small-text{
    font-family: var(--font-secondary);
    font-weight: var(--fw-normal);
    font-size: var(--fs-small);
    color: var(--clr-text);
}


.large-text-bold{
    font-family: var(--font-secondary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-large);
    color: var(--clr-text);
}

.medium-text-bold{
    font-family: var(--font-secondary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium);
    color: var(--clr-text);
}

.normal-text-bold{
    font-family: var(--font-secondary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-normal);
    color: var(--clr-text);
}

.small-text-bold{
    font-family: var(--font-secondary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-small);
    color: var(--clr-text);
}

.large-text-light{
    font-family: var(--font-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-large);
    color: var(--clr-text);
}

.medium-text-light{
    font-family: var(--font-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-medium);
    color: var(--clr-text);
}

.normal-text-light{
    font-family: var(--font-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-normal);
    color: var(--clr-text);
}

.small-text-light{
    font-family: var(--font-secondary);
    font-weight: var(--fw-light);
    font-size: var(--fs-small);
    color: var(--clr-text);
}

.large-text-semibold{
    font-family: var(--font-secondary);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-large);
    color: var(--clr-text);
}

.medium-text-semibold{
    font-family: var(--font-secondary);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-medium);
    color: var(--clr-text);
}

.normal-text-semibold{
    font-family: var(--font-secondary);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-normal);
    color: var(--clr-text);
}

.small-text-semibold{
    font-family: var(--font-secondary);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-small);
    color: var(--clr-text);
}
