:root {
    --clr-background: #f8f8ff;
    --clr-text: #030303;

    --clr-mustard: #ffd447;
    --clr-orange: #f85e00;
    --clr-turquoise: #3cdbd3;

    --font-primary: "Shrikhand", serif;
    --font-secondary: "Epilogue", sans-serif;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-bold: 800;

    --fs-small: 0.89rem;
    --fs-normal: 1.05rem;
    --fs-medium: 1.25rem;
    --fs-large: 1.6rem;

    --horizontal-nav-bar-spacing: 2.5rem;
    --vertical-nav-bar-spacing: 2rem;
}

.light-mode {
    background-color: var(--clr-background);
}
