:root {
    --clr-background: #030303;
    --clr-text: #f8f8ff;

    --clr-mustard: #FFD447;
    --clr-orange: #F85E00;
    --clr-turquioise: #3CDBD3;

    --font-primary: 'Shrikhand', serif;
    --font-secondary: 'Epilogue', sans-serif;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-bold: 800;
}
