@for(task of tasks; track task) {
    <div class="card-task__div">
        {{task.title}}
    </div>
}

<!-- example to make styling easy -->
<div class="card-task__div">
    <mat-checkbox class="card-task__checkbox"></mat-checkbox>
    <h2 class="medium-text-semibold card-task__title">Task Title</h2>
    <button class="card-task__edit-button | button-black-white">Edit</button>
</div>
<div class="card-task__div">
    <mat-checkbox class="card-task__checkbox"></mat-checkbox>
    <h2 class="medium-text-semibold card-task__title">Task Title</h2>
    <button class="card-task__edit-button | button-black-white">Edit</button>
</div>
