.card-task__div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

.card-task__title{
    margin: 0;
    padding: 0;
}

.card-task__edit-button{
    padding: 0.2rem 1rem;
}
