.card-task__div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem 1rem;

    border-color: var(--clr-text);
    border-style: solid;
    border-width: 1px;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}

.card-task__title{
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.card-task__edit-button{
    padding: 0.2rem 1rem;
}
